.navbar{
    display: flex;
    margin-top: 5px;
    padding: 10px 20px;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.navbar div button{
    margin-left: 10px;
}

/* .linksLeft, */
/* div { */
  /* display: flex; */
  /* gap: 15px; */
/* } */